<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<style>
	.opacity{
	opacity: 0.5;
    filter: alpha(opacity=50);
	}
	.user{
	align: left;
	}
	</style>
</head>

<body>
<div >
<div class="user">
<img class="opacity" src="1.jpg" width="200" height="200">
</div>
</div>


</body>
</html>